
/* ============= Tablet Layout ============== */

@media only screen and (min-width: 200px) and (max-width: 991px) {

.main_menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_menu ul li{
  flex: 25%;
  text-align: center;
  padding: 25px min(11.5px, 1.1vw) 15px min(11px, 1.07vw);
}

.main_menu ul li a{
  padding: 0 0 0 0 ;
  flex: 25%;
}

.main_menu ul li a:focus{
  padding: 25px 0px 15px 0px;
}

}

@media only screen and (min-width: 200px) and (max-width: 900px){

.inner_contact_area{
  flex-direction: column;
}

.address{
  border: 0;
  text-align: center;
}

.contact{
  padding-bottom: 5px;
}

}


/* ==================  Mobile Layout ===================== */

@media only screen and (min-width: 200px) and (max-width: 814px){


.description_slide_area{
  flex-direction: column;
}

.description{
  padding: 10px;
}

.slideshow-container{
  margin-top: 10px;
}

.intro_image_and_details{
  flex-direction: column;
}

.intro_image{
  text-align: center;
  padding-bottom: 20px;
}

.intro_image img{
  width: auto;
}

.inner_footer_area{
  flex-wrap: wrap;
  row-gap: 20px;
}


.footer_about, .footer_links, .footer_blog, .footer_contact{
  flex: 48%;
}

}


/* ================ Mobile Layout ================ */

@media only screen and (min-width: 200px) and (max-width: 642px){

.mini_menu{
  text-align: center;
}

.social_menu ul{
  text-align: center;
  padding-bottom: 10px;
}

}


/* ============== Mobile Layout ================== */

@media only screen and (min-width:200px) and (max-width: 620px){


  .main_menu ul li{
    flex: 33%;
    padding: 15px 0vw 9px 0vw;
  }

  .main_menu ul li a:focus{
    padding: 15px 0px 9px 0px;
  
  }

  .logo_and_search{
    border: none;
  }

  .inner_logo_and_search_area{
    flex-direction: column;
}

.logo{
  padding-bottom: 10px;
}

.search_area{
  margin: inherit;
  padding-top: 10px;
}

.contact{
  margin-top: 15px;
}

.inner_footer_area{
  justify-content: space-between;
}

.inner_copyright{
  padding: 5px 0;
  flex-direction: column;
  row-gap: 10px;
}

.right_copyright{
  margin: 0;
}

}


/* ================= Mobile Layout ================== */


@media only screen and (min-width: 200px) and (max-width: 480px) {

.top_header{
  flex-direction: column;
}

.mini_menu ul{
  position: relative;
}

.mini_menu ul .line_01{
  position: absolute;
  display: block;
  height: 1px;
  width:100vw;
  left: 50%;
  transform: translate(-50%);
  background-color: #F1F1F1;
  margin-top: 5px;
  border: none;
}


.mini_menu ul li{
  padding: 6px 0px;
  display: block;
}

.mini_menu ul li::after {
  display: none;
}


.social_menu ul{
  padding-top: 15px;
}

.main_menu ul li{
  flex: 100%;
  padding: 15px 0vw 9px 0vw;
}

.main_menu ul li a{
  padding: 0 0 0 0;
}

.main_menu ul li a:focus{
  padding: 15px 0px 9px 0px;
}

.intro_image_and_details{
  padding: 10px;
}

.intro_image{
  max-height: 425px;
  width: auto;
  margin-bottom: 15px;
}

.intro_image img{
  width: 100%;
}

.details_holder{
  flex-direction: column;
}

.contact input[type="submit"]{
  font-size: 16px;
  width: 180px;
}

.inner_footer_area{
  flex-direction: column;
}

.footer_links{
  align-self: center;
}

.footer_about h2, .footer_links h2, .footer_blog h2, .footer_contact h2{
  text-align: center;
}

}


/* ============== Mobile Layout ===================== */


@media only screen and (min-width: 200px) and (max-width: 250px){


.social_menu ul li a i {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  padding-top: 7px;
}

.logo a img{
  min-width: 150px;
}


.search_area input[type="text"]{
  min-width: 150px;
}



.footer_about, .footer_links, .footer_blog, .footer_contact{
  min-width: 150px;
}


}


